* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100svh;
  width: 100svw;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 350px;
  /*background-color: #87cefa;*/
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 25px;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.weather-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.weather-input {
  color: gray;
  width: 80%;
  font-size: 20px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
}

.search-btn {
  font-size: 20px;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: gray;
}

.search-btn:hover {
  color: black;
}

.weather-img {
  height: 100px;
  width: 100px;
  margin: 40px 0;
}

.weather-temp {
  font-size: 80px;
}

.weather-city {
  font-size: 40px;
  margin-bottom: 50px;
}

.weather-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
}

.weather-details-humidity-icon,
.weather-details-wind-icon {
  height: 35px;
  width: 35px;
  color: white;
}

.weather-details-wind-box,
.weather-details-humid-box {
  display: flex;
  align-items: center;
}

.weather-details-humidty,
.weather-details-wind {
  padding: 0 5px;
}

.details-value {
  font-size: 20px;
  font-weight: bold;
}

.details-text {
  padding-top: 6px;
}
